body {
  background-color: #333;
  font-weight: bold;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 1300px;
  position: relative;
}

main {
  margin-top: 50px;
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main_big {
  width: 45%;
  height: 90%;
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.main_big img {
  width: 100%;
  height: 75%;
  border: 2px solid white;
  border-radius: 5%;
}
.main_big h1 {
  color: white;
}

.mini_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 200px;
}

.mini_img1 {
  position: absolute;
  bottom: -150px;
  width: 200px;
  height: 150px;
  transform: skew(10deg, 10deg);
  border: 2px solid white;
  border-radius: 10px;
}
.mini_img2 {
  position: absolute;
  bottom: -150px;
  width: 200px;
  height: 150px;
  transform: skew(-10deg, -10deg);
  border: 2px solid white;
  border-radius: 10px;
}

.LB {
  color: white;
  font-size: 50px;
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.RB {
  color: white;
  font-size: 50px;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.test {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  z-index: 1;
  pointer-events: none;
}

.test div:nth-child(1) {
  position: absolute;
  width: 4000px;
  height: 4000px;
  background-color: rgba(51, 31, 228);
  animation: into 2s ease-in-out forwards;
}
.test div:nth-child(2) {
  position: absolute;
  width: 4000px;
  height: 4000px;
  background-color: rgba(51, 31, 228, 0.7);
  animation: into 2s ease-in-out forwards;
  animation-delay: 0.2s;
}
.test div:nth-child(3) {
  position: absolute;
  width: 4000px;
  height: 4000px;
  background-color: rgba(51, 31, 228, 0.4);
  animation: into 2s ease-in-out forwards;
  animation-delay: 0.4s;
}
.test div:nth-child(4) {
  position: absolute;
  width: 4000px;
  height: 4000px;
  background-color: rgba(51, 31, 228, 0.2);
  animation: into 2s ease-in-out forwards;
  animation-delay: 0.6s;
}

a {
  text-decoration: none;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
nav a {
  color: white;
}

.nav_content a {
  color: white;
  display: block;
  text-align: center;
  position: relative;
}

.nav_title {
  display: flex;
  align-items: center;
}

.nav_title div {
  font-size: 30px;
}

.bar_container {
  position: absolute;
  width: 100%;
  height: 5px;
  overflow: hidden;
}
.bar_current {
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  background-color: #fff;
  transition: 1s;
}
.nav_content a:hover .bar_current {
  left: 0;
}
.nav_content {
  width: 600px;
  height: 100%;
  right: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_login {
  width: 135px;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 3px;
}
.nav_login div {
  font-size: 12px;
}

.square {
  width: 400px;
  height: 400px;
  position: relative;
}

.square span {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid white;

  border-radius: 40% 60% 35% 35% / 40% 45% 55% 60%;

  transition: 0.5s;
}

.square:hover span {
  background-color: rgba(51, 31, 228, 0.259);
}
.square:hover span:nth-child(1) {
  border: rgba(51, 31, 228, 0.259);
}
.square:hover span:nth-child(2) {
  border: rgba(51, 31, 228, 0.259);
}
.square:hover span:nth-child(3) {
  border: rgba(51, 31, 228, 0.259);
}

.square span:nth-child(1) {
  animation: circle 6s linear infinite;
  border: 3px solid #c8621e;
}

.square span:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
  border: 3px solid #ddd42f;
}
.square span:nth-child(3) {
  animation: circle 10s linear infinite;
  border: 3px solid rgb(198, 147, 27);
}

.square:hover span:nth-child(1) {
  opacity: 0.3;
}
.square:hover span:nth-child(2) {
  opacity: 0.6;
}
.square:hover span:nth-child(3) {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.square div {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  text-align: center;
  color: #fff;
}
.square div a {
  color: #fff;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  border: 1px solid white;
  padding: 8px;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes into {
  0% {
    opacity: 1;
  }

  100% {
    transform: scale(0.2);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
  }
}
